<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.constellation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.HelperActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FunctionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangePSWActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditActivity"
            android:exported="false"
            android:label="编辑愿望"
            android:parentActivityName=".activity.WishActivity" />
        <activity
            android:name=".activity.AddActivity"
            android:exported="false"
            android:label="添加愿望"
            android:parentActivityName=".activity.WishActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GameActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WishActivity"
            android:exported="false"
            android:label="许愿池" />
        <activity android:name=".activity.LuckAnalyslsActivity" />
        <activity android:name=".activity.ParnterAnalyslsActivity" />
        <activity android:name=".activity.StarAnalyslsActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>